<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- use bootstrap!!-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"> <!-- link style sheet-->
    <title>Purrfect Planner</title>
  </head>
  <body>
    <nav class = "navbar navbar-light bg-light border-bottom navbar-expand-lg"> <!-- navbar!-->
        <div class = "container-fluid"> <!-- spans whole screen-->
            <a class="navbar-brand fw-semibold" href="{{ url_for('home') }}">Purrfect Planner</a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav"> <!-- collapsable menu-->
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="nav">
             <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('add_task') }}">Tasks</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                <li class="nav-item"><a class="btn btn-primary ms-2" href="{{ url_for('register') }}">Register</a></li>
            </ul>
        </div>
        </div>
    </nav>
    <main class="container py-4"> <!-- padding plus centering everything -->
      {% with messages = get_flashed_messages(with_categories=true) %} <!-- flash messages-->
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissable fade show" role="alert">{{ message }} <!-- able to X out of the alert-->
                    <button type="button" class="btn-close position-absolute top-50 end-0 translate-middle-y me-2" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %} <!-- need this for other html files-->
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
